.image-container img{
    width: 100%;
    height: 100%;

}

.gray-background{
    background:#597ea2;
    color:#fff;
}

input.ng-invalid.ng-dirty.form-validation{
    background:#c7254e ;
}
input.ng-valid.ng-dirty.form-validation{
    background:#419641 ;
}
