<div ng-controller="LoadAdsController">
    <div class="col-md-9">
        <div class="page-header">
            <h2>All ads </h2>
        </div>
        <div>
            <div class="col-md-12" ng-repeat="ads in adsList.ads">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title "><a href="#/ads/{{ads.id}}">{{ads.title}}</a></h3>
                    </div>

                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-2">
                                <a href="#" class="thumbnail">
                                    <img ng-src="{{ads.imageDataUrl}}" src="" style="height: 100px;"/>
                                </a>
                                <!--                    <a href="" class="btn btn-success btn-sm">Price: 150.00 Lv.</a> -->
                            </div>
                            <div class="col-md-10">
                                <p>{{ads.text}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                By user: {{ads.ownerName}} &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                Email: {{ads.ownerEmail}} &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                Tel: {{ads.ownerPhone}} &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                Date: {{ads.date | date : 'd-MMM-yyyy'}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#/ads/1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="page in [] | range : adsList.numPages"><a href="ads/{{page}}">{{page}}</a></li>
                    <li>
                        <a href="#/ads/{{adsList.numPages}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="col-md-3 text-center table-bordered">
        <div list-categories></div>
        <br/>
        <div list-towns></div>
        <div select-town></div>
    </div>
</div>

