<div ng-controller="MyAdsController" class="container col-md-10 col-md-offset-1 ">
    <div class="center-box">
        <br />
        <div class="page-header text-center">
            <h1>My Ads</h1>
        </div>
    </div>
    <div ng-if="!haveAds" class="text-center">
            <h2>You haven't ads. </h2>
    </div>
    <div >
        <div class="col-md-6 " ng-repeat="ads in myAds">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title "><a href="#/ads/{{ads.id}}">{{ads.title}}</a></h3>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3">
                            <a href="#" class="thumbnail">
                                <img ng-src="{{ads.imageDataUrl}}" src="" style="height: 100px;"/>
                            </a>
                            <!--                    <a href="" class="btn btn-success btn-sm">Price: 150.00 Lv.</a> -->
                        </div>
                        <div class="col-md-9">
                            <p>{{ads.text}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            Date: {{ads.date | date : 'd-MMM-yyyy'}}
                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                            Status : {{ads.status |  status}}
                            <a href="#/myAds/edit/{{ads.id}}" class="btn btn-success btn-sm ">Edit</a>
                            <a href="#/myAds/delete/{{ads.id}}" class="btn btn-danger btn-sm ">Delete</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>