<div class="container col-lg-8 col-lg-offset-2" ng-controller="LoginAndRegisterController">

    <br/>

    <div class="page-header text-center">
        <h1>Edit User Profile</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="page-header text-center">
                <h3>Edit Profile</h3>
            </div>
            <div>
                <form>
                    <ul type="none">
                        <li><h4>Name</h4></li>
                        <li>
                            <div class="input-group  center-box ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Real Name" ng-model="user.name"
                                       required>
                            </div>
                        </li>
                        <li><h4>Email</h4></li>
                        <li>
                            <div class="input-group  center-box ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Email" ng-model="user.email"
                                       required>
                            </div>
                        </li>
                        <li><h4>Phone</h4></li>
                        <li>
                            <div class="input-group  center-box ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Phone" ng-model="user.phoneNumber"
                                       required>
                            </div>
                        </li>
                        <li><h4>Town</h4></li>
                        <li>
                            <div class="input-group  center-box ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                </span>

                                <div select-town class="form-control" ng-model="user.town"></div>
                            </div>
                        </li>
                        <li>
                            <br/>
                        </li>

                        <li>
                            <button class="btn btn-lg btn-info" ng-click="updateProfile(user)">Change profile</button>
                        </li>
                    </ul>
                </form>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="page-header text-center">
                <h3>Change password</h3>
            </div>
            <form>
                <ul type="none">
                    <li><h4>Old password</h4></li>
                    <li>
                        <div class="input-group  center-box ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                                </span>
                            <input type="text" class="form-control" placeholder="Old password" ng-model="userPass.oldPassword"
                                   required>
                        </div>
                    </li>
                    <li><h4>New password</h4></li>
                    <li>
                        <div class="input-group  center-box ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                                </span>
                            <input type="text" class="form-control" placeholder="New password" ng-model="userPass.newPassword"
                                   required>
                        </div>
                    </li>
                    <li><h4>Confirm new password</h4></li>
                    <li>
                        <div class="input-group  center-box ">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                                </span>
                            <input type="text" class="form-control" placeholder="Confirm new passwrd" ng-model="userPass.confirmPassword"
                                   required>
                        </div>
                    </li>
                    <li><br/></li>
                    <li>
                        <button class="btn btn-lg btn-info" ng-click="changePassword(userPass)">Change password</button>
                    </li>
                </ul>
            </form>

        </div>
    </div>
</div>